PORT=

JWT_SECRET=

DB_HOST=
DB_PORT=
DB_NAME=

DB_USER=
DB_PASSWORD=

GMAIL_USER=
GMAIL_APP_PASSWORD=
PLATFORM_NAME=

ADMIN_NOTIFICATION_EMAIL=

PAYU_MERCHANT_KEY=
PAYU_MERCHANT_SALT=
PAYU_BASE_URL=

SUBSCRIPTION_AMOUNT=

FRONTEND_URL=

OPENSUBTITLES_API_KEY=
OPENSUBTITLES_USERNAME=
OPENSUBTITLES_PASSWORD=
JELLYFIN_URL=
JELLYFIN_API_KEY=
SEED_PASSWORD=
